/* .breaking_logo{
    height: 60px;

}
.input{
    color: blueviolet;
    background-color: brown;
} */
.search_bar{
    display: flex;
  margin:auto;
 
}

.breaking_logo{
   
}
.input{
   
    background-color: rgb(252, 230, 230);
    border: 2px solid white;
  
  text-align: center;
   border-radius: 15px;
  font-weight: bolder;
  
 width: 400px;

}
.search{
   margin: auto;
}
.header{
    display: flex;
    /* inside header all items will bhi center by vertically wrt header class */
    /* align-items: center;*/
   
    z-index: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
   
    background-color: black;
    height: 60px;
    position: sticky;
}
/*.header_logo{ */
    /* height: 50px;
    /* width: 140px; */
    /* width: 100px; */
  /*  object-fit: contain; */
  /* height: 50px;
  margin: 10px;
}
.header_middle{
    
    display: flex;
    flex: 1; */
    /* margin-left: 20px;
    margin-right: 20px; */
  /* margin-left: 25%;
}
.header_input{
 
    width: 50%;
    padding: 8px;
    border-color: burlywood;
}
.searchIcon{
    background-color: orange;
    padding: 5px;
  
} */